 /* Footer */
 footer {
    background-color: var(--culoare-primara); 
    color: white;
    padding: 2em 1em;
    text-align: center;
    font-size: 0.95em;
    border-top: 3px solid var(--accent-auriu);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;      

  }
  
  footer a {
    color: var(--accent-auriu);
    text-decoration: none;
    font-weight: 500;
  }
  
  footer a:hover {
    color: var(--hover-auriu);
    text-decoration: underline;
  }
  
  footer small, footer time {
    display: block;
    margin-top: 0.5em;
    color: var(--fundal-secundar);
  }
  
  footer address {
    margin-top: 1em;
    font-style: normal;
    line-height: 1.6;
  }