
main a:visited {
    color: var(--culoare-primara);
  }
  
  
  
  main a[href^="http"]::before {
    content: "⮳";
    font-size: 150%;
    margin-right: 0.3em;
    vertical-align: middle;
    display: inline-block;
    color: var(--accent-auriu);
    transition: color 0.3s ease-in-out;
  }
  
  
  main a[href^="http"]:hover::before {
    color: var(--hover-auriu);
  }
  
  
  
  main a {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    transition: color 0.3s ease, background-size 0.4s ease, border 0.2s ease;
    background-image: radial-gradient(
      circle,
      var(--accent-roz) 0%,
      var(--accent-roz) 40%,
      transparent 80%,
      transparent 100%
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
  }
  
  main a:hover {
    background-size: 100%;
  }
  
  
  
  
  main a:active {
    border: 2px solid var(--accent-rosu);                
    border-bottom: double 6px var(--accent-rosu);        
    border-radius: 8px;
    padding: 0.2em 0.4em;
    background-color: transparent;
    text-decoration: underline;
  }
  
  
  
      
  
  
  