<header >

    <!-- Titlul -->
    <h1>Sweet Dreams 🍰</h1>

    <!-- Meniu Navigare -->
    <nav>

        <label id="hamburger" for="ch-menu">
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
            <div class="hamburger-bar"></div>
          </label>
          
          
        <input id="ch-menu" type="checkbox">

        <ul class="meniu">

            <li><a href="#"><span>Home</span></a></li>

            <li><a href="#Produse"><span>Produse</span></a>
                <ul>
                    <li><a href="#Torturi_aniversare">Torturi aniversare</a></li>
                    <li><a href="#Prajituri_de_casa">Prajituri de casa</a></li>
                    <li><a href="#Fursecuri">Fursecuri</a></li>
                    <li><a href="#Prajituri_fara_zahar">Prajituri fara zahar</a></li>
                    <li><a href="#Prajituri_vegane">Prajituri vegane</a></li>
                </ul>
                </li>
            
            
            
            <li><a href="#Servicii"><span>Servicii</span></a>
                <ul>
                    <li><a href="#Livrare_la_domiciliu">Livrare la domiciliu</a></li>
                    <li><a href="#Personalizare_torturi">Personalizare torturi</a></li>
                    
                </ul>
            </li>
            
            

            <li><a href="#Despre_noi"><span>Despre noi</span></a></li>
            <li><a href="#Contact"><span>Contact</span></a></li>
        </ul>


    </nav>

</header>